<% provide(:title, "Admin Dashboard") %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <button class="close" data-dismiss="alert">×</button>
    <%= value %>
  </div>
<% end %>
<div class="admin-dashboard">
  <h3>Admin Dashboard</h3>
  <div class="row">
    <div class="col-md-6">
      <select id="candidates-select">
        <option value="1">All candidates</option>
        <option value="0">Successful candidates</option>
        <option value="-1">Unsucessful candidates</option>
      </select>
      <span id="number-of-candidates"><%= pluralize(@submissions.size,"candidate") %></span>
    </div>
    <div class="col-md-6">
      <%= link_to 'Logout', logout_path, class: "float-right admin-login" %>
      <a href="#" data-toggle="modal" data-target="#order" class="btn btn-outline-dark btn-sm float-right send-msg-btn">Send message</a>
    </div>
  </div>
  <div class="table-container">
  <table class="table">
    <thead class="thead-light" id="submissions-head">
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">School</th>
        <th scope="col">DOB</th>
        <th scope="col">Class</th>
        <th scope="col">Phone number</th>
        <th scope="col"># of errors</th>
      </tr>
    </thead>
    <tbody id="submissions-body">
    <% @submissions.each do |s| %>
      <tr>
        <td><%= s.first_name %></td>
        <td><%= s.last_name %></td>
        <td><%= s.school %></td>
        <td><%= s.date_of_birth %></td>
        <td><%= s.candidate_class.split("_").join(" ").upcase %></td>
        <td><%= s.phone_number %></td>
        <td><%= s.number_of_errors %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
