<div class="form-container">
  <%= form_with(model: submission, local: true, html: {class:  "submit-form"}) do |form| %>

    <div class="file-upload">
      <label for="photo-input">
          <%= image_tag 'passport.png', class: 'hidden image_preview' %>
      </label>
      <%= form.file_field :image, class: "photo_upload", id: "photo-input" %>
    </div>
    <div class="passport-error-msg"></div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.text_field :first_name, class: "form-control", required: true, value: cookies[:first_name], placeholder: "First Name" %>
        </div>
        <div class="form-group">
          <%= form.text_field :last_name, class: "form-control", required: true, value: cookies[:last_name], placeholder: "Last Name" %>
        </div>

        <div class="form-group">
          <%= form.select :candidate_class, [["JSS 1", "jss_1"], ["JSS 2", "jss_2"], ["JSS 3", "jss_3"], ["SSS 1", "sss_1"], ["SSS 2", "sss_2"], ["SSS 3", "sss_3"]], { prompt: "--Class--" }, { class: "form-control", required: true } %>
        </div>

        <div class="form-group">
          <%= form.email_field :email, class: "form-control", required: true, value: cookies[:email], placeholder: "Email Address" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.text_field :middle_name, class: "form-control", value: cookies[:middle_name], placeholder: "Middle Name" %>
        </div>
        <div class="form-group">
          <%= form.date_field :date_of_birth, class: 'form-control', required: true, value: cookies[:date_of_birth], placeholder: "Date of Birth" %>
        </div>
        <div class="form-group">
          <%= form.text_field :school, class: "form-control", required: true, value: cookies[:school], placeholder: "School (Fullname and location)" %>
        </div>
        <div class="form-group">
          <%= form.text_field :phone_number, class: "form-control", placeholder: "e.g: 07065437832", required: true, value: cookies[:phone_number] %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= form.text_area :article, class: "form-control article-field", placeholder: "Write your article here", id: "article-text-area" %>
        </div>
      </div>

      <div class="form-group">
        <div>Select your article (Note: Only .txt files are allowed)<div class="article-file-error-msg"></div></div>
        <%= form.file_field :article_file, id: "article-input" %>
      </div>
    </div>
    <div class="submit-button">
      <button type="submit" class="btnRegister">Submit</button>
    </div>
  <% end %>
</div>
