<div class="container">
<%= form_with(model: submission, local: true, :html => {:class => "submit-form"}) do |form| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="first">First Name</label>
          <%= form.text_field :first_name, class: "form-control", required: true %>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="last">Middle Name</label>
          <%= form.text_field :middle_name, class: "form-control" %>
        </div>
      </div>
      <!--  col-md-6   -->
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="company">Last Name</label>
          <%= form.text_field :last_name, class: "form-control", required: true %>
        </div>


      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">

        <div class="form-group">
          <label for="phone">Date of Birth</label>
          <%= form.date_field :date_of_birth, class: 'form-control', required: true %>
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->


    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="email">Class</label>
          <%= form.text_field :candidate_class, class: "form-control", required: true %>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="url">School <small>Please include the full name</small></label>
          <%= form.text_field :school, class: "form-control", required: true %>
        </div>

      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->

    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="email">Email</label>
          <%= form.email_field :email, class: "form-control", required: true %>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="url">Phone Number</label>
          <%= form.text_field :mobile_number_one, class: "form-control", placeholder: "e.g: 07065437832", required: true %>
        </div>

      </div>
      <!--  col-md-6   -->
    </div>

    <div class="row">
        <%= form.text_area :article, class: "form-control article-field", required: true, value: cookies[:written_article] %>
    </div>

    <button type="submit" class="btn btn-outline-primary submit-btn">Submit</button>
<% end %>
</div>
