<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :first_name, class: "form-control", placeholder: "First name", required: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :middle_name, class: "form-control", placeholder: "Middle name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last name", required: true %>
  </div>

  <div class="form-group">
    <%= form.number_field :age, class: "form-control", placeholder: "Age", required: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :candidate_class, class: "form-control", placeholder: "Class", required: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :school, class: "form-control", placeholder: "School name", required: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, class: "form-control", placeholder: "Email", required: true %>
  </div>

  <div class="field">
    <%= form.text_field :mobile_number_one, class: "form-control", placeholder: "Mobile number", required: true %>
  </div>

  <div class="field">
    <%= form.text_field :mobile_number_two, class: "form-control", placeholder: "Alternative mobile number" %>
  </div>

  <div class="field">
    <%= form.text_area :article, class: "form-control article-field", placeholder: "Write your article", required: true %>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
<% end %>
