<!DOCTYPE html>
<html>
  <head>
    <title>Article Submission</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fluid-container">
    <%= render "users/message_modal.html" %>
    <%= render "users/candidates_select_modal.html" %>
    <%= render "users/difficulty_level_modal.html" %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
